<?xml version="1.0"?>
<robot name="c30-r" xmlns:xacro="http://ros.org/wiki/xacro">

  <material name="grey">
    <color rgba="0.4 0.4 0.4 1.0"/>
  </material>
  <material name="yellow">
    <color rgba="1.0 1.0 0.0 1.0"/>
  </material>

  <xacro:property name="TO_RADIAN" value="${pi / 180.0}"/>

  <!-- <link name="base_link"/> -->

  <!-- <link name="body_link"> -->
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0.0" rpy="${pi/2} 0 ${pi}"/>
      <geometry>
        <mesh filename="package://c30-r_description/meshes/carrier.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="grey"/>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0.0" rpy="${pi/2} 0 ${pi}"/>
      <geometry>
        <mesh filename="package://c30-r_description/meshes/carrier.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision> -->
    <inertial>
      <mass value="2429"/> <!--mass value is listed in maintenance manual -->
      <origin xyz="-0.389 -0.01 0.438" rpy="0 0 0"/>
      <inertia ixx="893.2" ixy="264.1" ixz="-22.5" iyy="1904.5" iyz="-5.5" izz="1743.4"/>
    </inertial>
  </link>

   <link name="body_link"/>

  <!-- <link name="body_hinge_link">
    <inertial>
      <mass value="0.001"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
  </link> -->

  <!-- <link name="bed_link">
    <visual>
      <origin xyz="0 0 0.0" rpy="${pi/2} 0 ${pi}"/>
      <geometry>
        <mesh filename="package://c30-r_description/meshes/bed.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="yellow"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.0" rpy="${pi/2} 0 ${pi}"/>
      <geometry>
        <mesh filename="package://c30-r_description/meshes/bed.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="346"/> 
      <origin xyz="-1.5 0.0 0.892" rpy="0 0 0"/>
      <inertia ixx="92.3" ixy="-4.0" ixz="-0.1" iyy="206.5" iyz="-0.04" izz="140.5"/>
    </inertial>
  </link> -->
  <!--mass value is listed in maintenance manual -->
  
  <!-- <link name="bed_hinge_link">
    <inertial>
      <mass value="0.001"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
  </link> -->

  <joint name="base_to_body" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="body_link"/>
    <!-- <parent link="body_link"/>
    <child link="base_link"/> -->
  </joint>

  <!-- <joint name="body_to_body_hinge" type="fixed">
    <origin xyz="-2.25 0 0.85" rpy="0 0 ${pi/2}"/> -->
    <!-- <parent link="body_link"/> -->
    <!-- <parent link="base_link"/>
    <child link="body_hinge_link"/>
  </joint> -->

  <!-- <joint name="body_hinge_to_bed_hinge" type="revolute"> -->
    <!-- <origin xyz="0 0 0" rpy="0 0 0"/> -->
    <!-- <origin xyz="-2.25 0 0.85" rpy="0 0 ${pi/2}"/> -->
    <!-- <parent link="body_hinge_link"/> -->
    <!-- <parent link="base_link"/> -->
    <!-- <parent link="body_link"/> -->
    <!-- <child link="bed_hinge_link"/>
    <limit effort="1" velocity="1" lower="${-90*TO_RADIAN}" upper="${0*TO_RADIAN}" />
  </joint> -->

  <!-- <joint name="bed_to_bed_hinge" type="fixed"> -->
    <!-- <origin xyz="0 -2.25 -0.85" rpy="0 0 ${-pi/2}"/> -->
    <!-- <origin xyz="0 0 0" rpy="0 0 0"/> -->
    <!-- <parent link="bed_hinge_link"/> -->
    <!-- <parent link="base_link"/> -->
    <!-- <parent link="body_link"/> -->
    <!-- <child link="bed_link"/>
  </joint> -->

</robot>