<launch>
  <arg name="model" default="$(find c30-r_description)/urdf/c30-r.xacro" />
  <param name="robot_description" command="$(find xacro)/xacro.py '$(arg model)'"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
    args="-param robot_description -urdf -model c30-r"/>
</launch>

